<h1>全ユーザーの学習記録</h1>
<% if user_signed_in? %>
  <div class="table-container">
    <table class="table table-striped">
      <thead class="bg-danger text-white">
        <tr>
          <th class="w-1">ユーザーID</th>
          <th class="w-2">言語</th>
          <th class="w-3">学習時間</th>
        </tr>
      </thead>
      <tbody>
        <% @skills.each do |skill| %>
          <tr>
            <td># <%= skill.user_id %></td>
            <td><%= skill.name %></td>
            <td><%= skill.study_time %>時間</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <button type="button" class="btn btn-danger btn-lg" style="width: 200px;">
    <%= link_to 'スキル登録', user_path(current_user.id), class: "text-white" %>
  </button>
<% else %>
  <div class="alert alert-warning text-center my-4 mx-5" role="alert">
    <a class="text-danger" href="/users/sign_in">
      <strong>ログインしてください</strong>
    </a>
  </div>
<% end %>
