<div class="table-container">
  <table class="table table-striped">
    <thead class="bg-danger text-white">
      <tr>
        <th class="w-1">No.</th>
        <th class="w-2">ジャンル</th>
        <th class="w-5">内容</th>
      </tr>
    </thead>
    <tbody>
      <% @texts.each do |text| %>
      <tr>
        <td><%= text.title %></td>
        <td><%= text.genre %></td>
        <td><%= text.contents %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<input class="form-control" id="myInput" type="text" placeholder="Search Curriculum..">
<table class="table table-striped">
  <thead class="bg-danger text-white">
    <tr>
      <th>言語</th>
      <th>説明</th>
    </tr>
  </thead>
  <tbody id="myTable">
    <tr>
      <td>HTML/CSS</td>
      <td>Webサイトの画面を作るための言語</td>
    </tr>
    <tr>
      <td>Ruby</td>
      <td>Webサイトの裏側の処理をする言語</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>人工知能を開発するための言語</td>
    </tr>
  </tbody>
</table>
