<div class="table-container">
  <table class="table table-striped">
    <thead class="bg-danger text-white">
      <tr>
        <th class="w-1">No.</th>
        <th class="w-2">ジャンル</th>
        <th class="w-5">内容</th>
      </tr>
    </thead>
    <tbody>
      <% @texts.each do |text| %>
      <tr>
        <td><%= text.title %></td>
        <td><%= text.genre %></td>
        <td><%= text.contents %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<input class="form-control" id="myInput" type="text" placeholder="Search Curriculum..">

<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  ボタン
</button>
