/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
*/
@import "bootstrap";

#container {
  width: 100%;
  max-width: 710px;
  margin: 0 auto;
  padding: 50px 0;
}
