<div class="mx-auto text-left" style="width: 800px;">

  <%
    text =<<~TEXT
      # Macのショートカットキー一覧
    TEXT
  %>
  <%= markdown(text).html_safe %>
  <% @commands.each do |command| %>
    <tr>
      <th><%= markdown(command.title).html_safe %><th>
      <th><%= markdown(command.content).html_safe %><th><br>
    </tr>
  <% end %>


</div>
