<div class="mx-auto text-center" style="width: 800px;">
    <%
      text =<<~TEXT

        # Macのショートカットキー一覧

        コピー
        ```
        command + c
        ```

        ペースト
        ```
        command + p
        ```
      TEXT
    %>
    <%= markdown(text).html_safe %>
</div>
