<div class="mx-auto text-left" style="width: 800px;">

  <%
    text =<<~TEXT
      # Macのショートカットキー一覧
    TEXT
  %>
  <%= markdown(text).html_safe %>
  <% @commands.each do |command| %>
    <tr>
      <th><%= command.title %><th><br>
      <th>```<br><%= command.content %><br>```<th><br>
    </tr>
  <% end %>

</div>
